@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/adaria/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
            <div class="header">
                <h2>Freshly "@title" page</h2>

                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="@routes.Registrations.viewRegistrations">Registrations</a>
                            <ul>
                                <li><a href="@routes.Registrations.viewRegistrations">View registrations</a></li>
                                <li><a href="@routes.Registrations.addNew">Send your registration</a></li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="main_container">
                @content
            </div>

            <br/>
            <div class="footer">
               Some footer stuff over here
            </div>


    </body>
</html>
