@(registrationList:List[Registration], isAdmin:Boolean = false)

<div>
    <table cellspacing="4">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Profession</th>
            <th>Experience</th>
            <th>Confirmed</th>
            <th>Confirmation date</th>
        </tr>
        @registrationList.map{registration =>
        <tr>
            <td>@registration.firstName</td>
            <td>@registration.lastName</td>
            <td>@registration.profession</td>
            <td>@registration.yearsOfExperience years</td>
            <td>@registration.isConfirmed</td>
            <td>@registration.confirmationDate</td>
            @if(isAdmin) {
                <td>
                    @helper.form(action = routes.Registrations.delete) {
                        <input type="hidden" name="id" value="@registration.id"/>
                        <input type="submit" class="btn btn-large btn-primary" value="Delete"/>
                    }

                </td>
            }
            @if(isAdmin && !registration.isConfirmed){
                <td>
                    @helper.form(action = routes.Registrations.confirm){
                        <input type="hidden" name="id" value="@registration.id" />
                        <input type="submit" value="Confirm" />
                    }
            }
        </tr>
        }
    </table>
</div>